<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        This is a simple blog site. It is a part of a tutorial on how to build a
        blog site with Node JS, Express, and EJS.
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus ipsum
        vero porro, iusto ex consequatur voluptatum quo ut qui laudantium ullam
        sed alias molestias. Fugiat rem doloribus animi. Obcaecati, aliquid.
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
